*{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.backgroundBox{
	width: 100%;
	height: 100%;
}
/*------------------------导航----------------------------*/
.nav-fixed{
	padding: 20px 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1999;
}
/*导航左边的logo*/
.TopNav-Left-Logo{
	width: 151px;
	height: 50px;
	padding-left: 15px;
	margin: 0;
	float: left;
}
.TopNav-Left-Logo h2{
	margin: 7px 0;
}
.TopNav-Left-Logo a{
	width: 136px;
	height: 35px;
	display: block;
}
.TopNav-Left-Logo a img{
	width: 136px;
	height: 35px;
}
.bgWhite{
	position: relative;
	top: -36px;
	z-index: 2;
}
.bgBlack{
	position: relative;
	z-index: 1;
}

/*导航右边的菜单*/
.TopNav-content-Left{
	width: 303.641px;
	height: 41.781px;
	margin: 0;
	float: right;
	line-height: 50px;
}
.TopNav-content-Left li{
	margin-left: 1px;
	float: left;
}
.TopNav-Left-li-01{
	width: 91.859px;
}
.TopNav-Left-li-01:hover .TopNav-second-Menu-01{
	display: block;
}
.TopNav-Left-li-02{
	width: 125.469px;
}
.TopNav-Left-li-02:hover .TopNav-second-Menu-02{
	display: block;
}
.TopNav-Left-li-03{
	width: 83.313px;
}
.TopNav-content-Left li a{
	width: 62px;
	height: 12px;
	padding: 14.4px 12px 14.4px 16.8px;
	margin: 0 auto;
	line-height: 50px;
	color: #fff;
	opacity: 0.6;
	font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 700;
    font-size: .75em;
}
.TopNav-content-Left li a:hover{
	text-decoration: none;
	opacity: 1;
}

/*二级菜单*/
.TopNav-second-Menu-01{
	width: 173px;
	height: 209px;
	background: #fff;
}
.TopNav-Left-li-01 li a{
	color: #222;
}
.TopNav-second-Menu-02{
	width: 173px;
	height: 263px;
	background: #fff;
}
.TopNav-second-Menu-02 li{
	width: 163px;
	height: 38px;
}

/*三级菜单*/
.All-third-Menu{
	background: #fff;
	position: relative;
	top: -50px;
	left: 166px;
}
.TopNav-third-Menu-01{
	width: 163px;
	height: 219px;
}
.second-Menu-li-01:hover .TopNav-third-Menu-01{
	display: block;
}
.TopNav-third-Menu-02{
	width: 163px;
	height: 132px;
}
.second-Menu-li-02:hover .TopNav-third-Menu-02{
	display: block;
}
.TopNav-third-Menu-03{
	width: 163px;
	height: 132px;
}
.second-Menu-li-03:hover .TopNav-third-Menu-03{
	display: block;
}
.TopNav-third-Menu-04{
	width: 163px;
	height: 88px;
}
.second-Menu-li-04:hover .TopNav-third-Menu-04{
	display: block;
}
.TopNav-third-Menu-05{
	width: 163px;
	height: 145px;
}
.second-Menu-li-05:hover .TopNav-third-Menu-05{
	display: block;
}

/*所有菜单*/
.All-menu{
	padding: 10px 5px;
	border: 1px solid whitesmoke;
	margin: 0;
	display: none;
}
.All-menu li a{
	width: 163px;
	height: 14px;
	padding: 14.4px 16.8px;
	margin: 0;
	margin-bottom: 10px;
	display: block;
    color: #222;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: none;
    letter-spacing: 0;
    line-height: 13px;
}

/*三条杠*/
.TopNav-content-Right{
	width: 30px;
	height: 50px;
	margin: 0 15px 0 20px;
	display: block;
	float: right;
    cursor: pointer;
}
.TopNav-content-Right .two{
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin-top: -2px;
	display: block;
	position: relative;
    top: 35%;
    left: 0;
}
.TopNav-content-Right .one{
	width: 30px;
	height: 3px;
	display: block;
	position: relative;
    top: 50%;
    left: 0;
    background-color: #fff;
}
.TopNav-content-Right .three{
	width: 30px;
	height: 3px;
	display: block;
	position: relative;
    top: 55%;
    left: 0;
    background-color: #fff;
}
.TopNav-content-Right:hover .one{
	transition: 0.3s;
	transform: translateY(-2px);
}
.TopNav-content-Right:hover .three{
	transition: 0.3s;
	transform: translateY(2px);
}


/*---------------------第一页-------------------------*/
section{
	background: url(../OurWorkImg/background.jpg);
	background-position: center center;
    background-size: cover !important;
	/*background: red;*/
}
.fp-tableCell{
	width: 1349px;
    display: table-cell;
    vertical-align: middle;
}
.screen1-content{
	margin: 0;
    transform-style: preserve-3d;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.screen1-box-01{
	height: 251px;
}
.screen1-box-inner-content{
	margin-top: 20px;
}
.screen1-box-inner-content p{
	width: 100%;
	height: 16px;
	margin-bottom: 25px;
	visibility: inherit; 
	opacity: 1; 
	color: #a3a3a2;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
.screen1-box-inner-content p,.screen1-box-inner-content a{
    text-align: center;
}
.screen1-box-inner-content h2{
	padding: 0;
    margin: 0 0 .55em;
    text-align: center;
}
.screen1-box-inner-content a{
	width: 147px;
	height: 48px;
	padding: 14px 20px;
	margin: 0 auto;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 100px;
    display: block;
}
.screen1-box-inner-content a:hover{
	text-decoration: none;
	color: black;
	background: #fff;
	transition: 1s;
}
.drop-down span{
	display: inline-block;
	position: relative;
	left: 49%;
	color: #fff;
	animation: go 2s linear infinite;
}
@keyframes go{
	0%{
		transform: translate(0 , 0);
	}
	50%{
		transform: translate(0 , -20px);
	}
	100%{
		transform: translate(0 , 0);
	}
}
.drop-down:hover{
	color: #fff;
	text-decoration: none;
}
/*文字动画效果*/
/*.no p,
.no h2,
.no a,
.no span,
hr{
	opacity: 0.1;
	transform: scale(0.1);
}
.screen1-box-inner p,
.screen1-box-inner h2,
.screen1-box-inner a,
.screen2-box-inner h2,
hr,
.screen2-box-inner p,
.screen2-box-inner span,
.screen2-box-inner a{
	transition: 2s;
}*/

/*第二部分*/
.second-part{
	padding: 90px 0;
}
.row{
	width: 100%;
	margin: 0;
}
.second-part h1,
.third-part h1{
	font-size: 60px;
}
.team-Box{
	padding: 0;
	padding-right: 30px;
}
.team-Box h2{
	margin-bottom: 30px;
}
.team-Box p{
	padding-right: 10px;
	font-size: 16px;
	margin-bottom: 30px;
	color: #fff;
}
.footer-box-right{
	height: 40px;
	padding: 0 15px;
}
.img-icon01{
	width: 25px;
    height: 25px;
    background-size: 17px;
    display: block;
    float: left;
    opacity: 0.6;
}
.img-icon01:hover{
	opacity: 1;
}


/*第三部分*/
.third-part{
	background: #f3f3f3;
	padding: 90px 0;
}
.list-Box{
	padding: 0;
	padding-right: 50px;
	padding-bottom: 25px;
	margin-bottom: 40px;
}
.list-Box img{
	width: 330px;
}
.list-Box h4{
	font-size: 22px;
	padding: 30px 0;
}
.list-Box-p{
	color: #777;
	display: block;
	margin-bottom: 30px;
}
.list-Box-p a{
	text-decoration: none;
	color: #777;
}
.list-Box-p01{
	color: #fff;
}
.btnBox{
	text-transform: uppercase;
    font-weight: bold;
    background: none;
    border-width: 2px;
    border-style: solid;
    border: 2px solid;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 14px 20px;
    position: relative;
    text-decoration: none;
    font-size: 12px;
    border-radius: 100px;
    color: #00a498;
    letter-spacing: .15em;
    margin-top: 20px;		
}
.btnBox:hover{
	text-decoration: none;
	background: black;
	color: #fff;
}


/*第四部分*/
/*头部*/
.image-title-bg{
	width: 100%;
	height: 300px;
	background-image: url(../indexImg/screen4-01.jpg);
	background-repeat: no-repeat;    /*不重复*/
	background-position: -40px -320px;
	position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.overlay{    
	width: 100%;
    height: 100%;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
	background-color: black;
	opacity: 0.5;
}
.content-Top-con-p{
	width: 760px;
	height: 320px;
	padding: 102.5px 15px;
	left: 13px;
	position: relative;
	z-index: 3;
}
.content-Top-con-p h1{
	font-size: 54px;
	color: #fff;
}
.content-Top-con-p h2{
	font-size: 20px;
	color: #b8b8b8;
}

/*导航栏*/
.content-con-Top-Box{
	/*width: 1110px;*/
	/*height: 137px;*/
	padding: 45px 0 40px 0;
}
.content-con-Top-ul{
	float: left;
}
.content-con-Top-ul li{
	float: left;
	line-height: 18px;
	height: 29px; 
	margin: 12px 5px 0 0;
}
.content-con-Top-ul li a{
	color: #999999;
}
.content-con-Top-ul li a:hover{
	color: #222;
	text-decoration: none;
}
.content-con-Top-ul li:nth-child(1):after{
	content: "";
	width: 30px;
	height: 2px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 12px;
    margin-left: 0;
    background: #222;
}
.content-con-Top-ul li:nth-child(2):after{
	content: "";
	width: 80px;
	height: 2px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 82px;
    margin-left: 0;
    background: #222;
}
.content-con-Top-ul li:nth-child(3):after{
	content: "";
	width: 137px;
	height: 2px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 205px;
    margin-left: 0;
    background: #222;
}
.content-con-Top-ul li:nth-child(4):after{
	content: "";
	width: 115px;
	height: 2px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 383px;
    margin-left: 0;
    background: #222;
}
.content-con-Top-ul li:nth-child(5):after{
	content: "";
	width: 47px;
	height: 2px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 542px;
    margin-left: 0;
    background: #222;
}

/*图片*/
.con-Mid-imgList{
	height: 980px;
    position: relative;
    overflow: visible !important;
}
.con-Mid-Allimg a{
	margin: 10px 10px 20px;
}
/**/
.con-Mid-img-01{
	height: 530px;
}
.con-Mid-img-01 img{
	/*width: 350px;*/
	height: 532.125px;
}

.con-Mid-img-02{
	height: 271.750px;
}
.con-Mid-img-02 a{
	height: 241.750px;
}
.con-Mid-img-02 img{
	/*width: 350px;*/
	height: 241.750px;
}

.con-Mid-img-03{
	height: 263.328px;
}
.con-Mid-img-03 a{
	height: 233.328px;
}
.con-Mid-img-03 img{
	width: 350px;
	height: 241.750px;
}

.con-Mid-img-04{
	height: 542.031px;
}
.con-Mid-img-04 a{
	height: 512.031px;
}
.con-Mid-img-04 img{
	/*width: 350px;*/
	height: 512.031px;
}

.con-Mid-img-07{
	height: 417.578px;
}
.con-Mid-img-07{
	height: 387.578px;
}
.con-Mid-img-07 img{
	/*width: 350px;*/
	height: 387.578px;
}
/*图片放大边框*/
.con-Mid-Allimg a{
	display: block;
}
.con-Mid-Allimg a{
	overflow: hidden;
}
.con-Mid-Allimg a:hover{
	text-decoration: none;
	transition: 2s;
}
.con-Mid-Allimg a:hover img{
	transform: scale(1.2);           /*放大1.5倍*/
	transition: 1s;                  /*过渡时间1秒*/
}
.con-Mid-Allimg a:hover .opacity-Allimg{
	opacity: 0.6;                 /*过渡时间1秒*/
}
.con-Mid-Allimg a:hover .con-Mid-title{
	display: block;
}

/*透明度*/
.opacity-Allimg{
	background-color: black;
	position: relative;
	opacity: 0;
}
.img-opacity01{
	height: 532.125px;
	top: -532.125px;
}
.img-opacity02{
	height: 241.750px;
	top: -241.750px;
}
.img-opacity03{
	height: 241.750px;
	top: -241.750px;
}
.img-opacity04{
	height: 512.031px;
	top: -512.031px;
}
.img-opacity05{
	height: 233.328px;
	top: -233.328px;
}
.img-opacity06{
	height: 232.031px;
	top: -242.031px;
}
.img-opacity07{
	height: 387.578px;
	top: -387.578px;
}
/**/
.img-noOpaticy{
	width: 350px;
	opacity: 0.5;
	background-color: black;
	position: relative;
}
/*图片标题*/
.con-Mid-title{	
    width: 350px;
	height: 51px;
	position: relative;
	display: none;
}
.con-Mid-title span{
	width: 147.92px;
	height: 29px;
}
.con-Mid-title span:after,
.con-Mid-title-noOpaticy span:after{
	content: "";
	width: 50px;
	height: 2px;
    position: relative;
    top: 15px;
    left: 43%;
    background: #bdbebf;
    display: block;	
}
.con-Mid-title-noOpaticy span{
	width: 225px;
	height: 62px;
	display: block;
}
.con-Mid-title h2,
.con-Mid-title-noOpaticy h2{
    font-family: Lato;
    text-transform: none;
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}

/*1*/
.con-title-01{
	top: -840px;
}
/*2*/
.con-title-02{
	top: -400px;
}
/*3*/
.con-title-03{
	position: relative;
	top: -420px;
	text-align: center;
	color: #fff;
}
/*4*/
.con-title-04{
	top: -810px;
}
/*5*/
.con-title-05{
	top: -390px;
}
/*6*/
.con-title-06{
	position: relative;
	top: -406px;
	text-align: center;
	color: #fff;
}
/*7*/
.con-title-07{
	position: relative;
	top: -650px;
	text-align: center;
	color: #fff;
}


/*文字*/
.content-con-Bottom,
.content-con-Bottom h3{
	width: 100%;
	height: 128px;
	margin: 0;

}
.content-con-Bottom a{
	/*width: 1349px;*/
	height: 110px;
	padding: 50px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #808080;
}
.content-con-Bottom a:hover{
	text-decoration: none;
	color: #222;
}

.clear{
	clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*底部*/
.footer{
	width: 100%;
	padding: 15px 0;
	background: #f3f3f3;
}
.footer-box{
	padding: 0 15px;
	margin: 0 75px;
}
.footer-box-left{
	height: 31px;
	padding: 0 15px;
	line-height: 31px;
	color: #9e9e9e;
}
.footer-box-left a{
	color: #9e9e9e;
}
.footer-box-left a:hover{
	color: #9e9e9e;
	text-decoration: none;
}

.footer-box-right{
	height: 40px;
	padding: 0 15px;
	float: right;
}
.img-icon{
	width: 25px;
    height: 25px;
    background-size: 17px;
    background-color: #f9f9f9; 
    border-radius: 50%;
    display: block;
    float: right;
    margin-right: 10px;
    opacity: 0.5;
}
.img-icon:hover{
	opacity: 1;
}
.twitter{
	background-image: url(../indexImg/twitter.svg);
	background-repeat: no-repeat;
	background-position: 4px 3px;
}
.dribbble{
	background-image: url(../indexImg/dribbble.svg);
	background-repeat: no-repeat;
	background-position: 4px 4px;
}
.facebook{
	background-image: url(../indexImg/facebook.svg);
	background-repeat: no-repeat;
	background-position: 4px 3px;
}

